# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
dist/
*.egg-info/
*.egg

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3

# Media files
media/

# Static files
static/

# VS Code settings
.vscode/

# macOS files
.DS_Store

# Environment variables
.env
