<!DOCTYPE html>
<html>
<head>
    <title>Identifications</title>
</head>
<body>
    <h1>Welcome, {{ username }}</h1>
    <h2>total_ids : {{ total_ids }}</h2>
    <h2>unique_users : {{ unique_users }}</h2>
    <h2>volunteer_hours : {{ volunteer_hours }}</h2>
    <h2>estimated_coverage_acres :{{ estimated_coverage_acres }}</h2>
    <h3>Identifications Plot</h3>
    <img src="{{ id_plot_path }}" alt="Image 1">
    <h3>User Plot</h3>
    <img src="{{ user_plot_path }}" alt="Image 2">
</body>
</html>
