<!DOCTYPE html>
<html lang="en">
<head>
        {% load static %}  
    <meta charset="UTF-8">
    <title>Identifications Report</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/identifications.css' %}">
</head>
<body>
    <button class="screenshot-button" onclick="downloadScreenshot()">Download Screenshot</button>

    <div class="container">
        <h1>Welcome, {{ username }}</h1>

        <div class="stats">
            <h2>Total Identifications: {{ total_ids }}</h2>
            <h2>Unique Users Engaged: {{ unique_users }}</h2>
            <h2>Volunteer Hours: {{ volunteer_hours }}</h2>
            <h2>Estimated Coverage (Acres): {{ estimated_coverage_acres }}</h2>
        </div>

        <hr>

        <h3>Identifications Timeline</h3>
        <img src="{{ id_plot_path }}" alt="Identifications Plot">

        <h3>User Engagement Timeline</h3>
        <img src="{{ user_plot_path }}" alt="User Plot">
    </div>

    <script>
        function downloadScreenshot() {
            setTimeout(() => {
                document.fonts.ready.then(() => {
                    html2canvas(document.body, {
                        useCORS: true,
                        scrollY: -window.scrollY,
                        scale: 2,
                        windowWidth: document.documentElement.scrollWidth,
                        windowHeight: document.documentElement.scrollHeight
                    }).then(function(canvas) {
                        const link = document.createElement('a');
                        link.download = 'identifications_screenshot.png';
                        link.href = canvas.toDataURL();
                        link.click();
                    });
                });
            }, 1000);
        }
    </script>
</body>
</html>
